<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
      <button
        class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
        onclick="w3_open();"
      >
        <i class="fa fa-bars"></i> Menu
      </button>
      <span class="w3-bar-item w3-right">Logo</span>
    </div>

    <%- include('sidebar') %>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div
      class="w3-overlay w3-hide-large w3-animate-opacity"
      onclick="w3_close()"
      style="cursor:pointer"
      title="close side menu"
      id="myOverlay"
    ></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
      <!-- Header -->
      <header class="w3-container" style="padding-top:22px">
        <h5>
          <b>Create Key</b>
        </h5>
      </header>
      <hr />
      <div class="w3-container">
        <!-- id="createKeyForm" method="POST" action="/createKey" -->
        <div>
          <div class="tab">
            Create alias and description
            <p>
              <input
                id="alias"
                placeholder="Alias..."
                name="alias"
                class="w3-input"
              />
            </p>
            <p>
              <input
                id="description"
                placeholder="Description..."
                name="description"
                class="w3-input"
              />
            </p>
          </div>

          <div class="tab">
            Define key administrator

            <table
              class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
            >
              <tr>
                <th>
                  <input type="checkbox" id="checkboxAll" class="w3-check" />
                </th>
                <th>Name</th>
                <th>Type</th>
              </tr>
              <% users.forEach(function(user){ %> <% if(user.userId !=
              currentUser) { %>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    name="userPermision"
                    class="w3-check"
                    id="<%= user.userId%>"
                  />
                </td>
                <td><%= user.fullname%></td>
                <td><%= user.type%></td>
              </tr>
              <% } %> <% }); %>
            </table>
          </div>
          <hr />
          <button class="w3-btn w3-teal" id="createKeyBtn">Create a key</button>
        </div>
      </div>
      <hr />

      <hr />

      <!-- Footer -->
      <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p>
          Powered by
          <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"
            >w3.css</a
          >
        </p>
      </footer>

      <!-- End page content -->
    </div>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
  $("#createKeyBtn").click(function() {
    var userPermision = [];
    $.each($("input[name='userPermision']:checked"), function() {
      userPermision.push($(this).attr("id"));
    });
    $.post({
      url: "/createKey",
      data: {
        alias: $("#alias").val(),
        description: $("#description").val(),
        userPermision: userPermision
      },
      success: function(data) {
        window.alert(data);
        location.reload();
      }
    });
  });
  $("#checkboxAll").click(function() {
    $("input:checkbox.w3-check").prop("checked", this.checked);
  });
</script>
